.sub_heading {
    font-weight: bold;
    color: #7189c5;
}

body, #content {
    color: rgba(0, 0, 0, 0.87);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 13pt;
    background-color: #fafafa;
    text-align: center;
}

.error_message, noscript {
    color: #f44;
    margin: auto;
    padding: 10px;
}

.footnote:before {
    content: '*';
}

.footnote {
    font-size: 12px;
    color: #666;
}

input {
    font-size: 0.9em;
    background: none;
    color: black;
    text-decoration: none;
    outline: none !important;
    border: none;
    border-bottom: solid 2px #7189c5;
}

a {
    color: #3e5ea2;
}

li {
    text-align: left;
}

.button, button {
    font-size: 0.95em;
    background: #7189c5;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    outline: none !important;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
}

.button:disabled, button:disabled {
    cursor: not-allowed;
}

.button:hover, button:hover {
    background: white;
    color: #7189c5;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    -transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card {
    padding: 20px;
    margin: 15px 10px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.chip {
    display: inline-flex;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.chip.result {
    box-sizing: border-box;
    width: 21%;
    margin: 5px 1%;
    vertical-align: middle;
}

.result_image {
    margin-left: auto;
    margin-right: 0px;
}
.result > img {
    display: block;
    width: 36px;
    height: 36px;
}

.results_container {
    margin-left: 3%;
    width: 95%;
    text-align: left;
    padding: 20px auto;
}


.chip.clickable {
    cursor: pointer;
}

.chip.clickable:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}


pre code {
    display: block;
}

code {
    white-space: pre;
    overflow: scroll;
}
code, .code {
    word-break: break-all;
    word-wrap: break-word;
    padding: 10px;
    font-size: 0.8em;
    text-align: left;
    font-family: monospace;
}

.code {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    margin-top: 30px;
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
}

/*
    Begin navbar CSS
*/
#nav_bar a {
    text-decoration: none;
}

#nav_bar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background: #7189c5;
    z-index: 200;
}

#nav_bar * {
    color: white;
}

#brand * {
    align-self: center;
}

#brand_img {
    margin-right: 20px;
}

.card.error {
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
}

#brand {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    float: left;
    padding: 5px 10px;
    margin-left: 15px;
}

#brand:hover {
    background: #7189c5;
    -webkit-transition: all 0.3s;
    -transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#nav_list_menu {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

#nav_list_menu a {
    height: 80px;
    line-height: 80px;
    padding: 0px 15px;
    margin: 0;
    /*align-self: center;*/
    text-align: center;
    /*vertical-align: middle;*/
    font-size: 1.3em;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#nav_list_menu a:hover {
    background: #7189c5;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#hamburger {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5px;
    margin-right: 10px
}

#hamburger span {
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
}

#hamburger.clicked span:nth-child(3) {
    -webkit-transform: translate(-10px, 0px) rotate(45deg) translate(0px, -28px);
    transform: translate(-10px, 0px) rotate(45deg) translate(0px, -28px);
}

#hamburger span:nth-child(2) {
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
}

#hamburger.clicked span:nth-child(2) {
    opacity: 0;
}

#hamburger.clicked span:nth-child(1) {
    -webkit-transform: translate(-10px, 0px) rotate(-45deg) translate(0px, 28px);
    transform: translate(-10px, 0px) rotate(-45deg) translate(0px, 28px);
}

.loading_status, .loading_status > * {
    font-size: 1.3em;
    display: inline;
    line-height: 70px;
    vertical-align: middle;
}

.loader {
    border: 9px solid #f3f3f3;
    border-top: 9px solid #7189c5;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}
@media only screen and (max-width: 1200px) {
    .chip.result {
        margin: 7px 2%;
        width: 28%;
    }
}

@media only screen and (max-width: 950px) {
    .chip.result {
        width: 45%;
        margin: 10px 1%;
    }
    #nav_list_menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        clear: both;
        margin: 0px;
        padding: 0px;
        background-color: #7189c5;
        color: #fafafa;
        width: 100%;
        transition: visibility 0s, opacity 0.3s ease-in-out;
        height: auto;
    }

    #nav_list_menu a {
        height: 50px;
        line-height: 50px;
        margin: 0px;
        top: 0px;
        padding: 10px 0px;
        height: auto;
        clear: both;
        display: block;
        width: 100%;
    }

    #nav_list_menu.expanded {
        opacity: 1;
        visibility: visible;
    }

    #nav_list_menu.expanded a {
        display: block;
    }

    #hamburger {
        width: 70px;
        height: 65px;
        display: inline;
        margin: 0px;
        margin-right: 10px;
        padding: 0px;
        padding-top: 14px;
    }

    #hamburger span {
        display: block;
        margin-bottom: 10px;
        background-color: white;
        height: 10px;
        width: 55px;
    }
}

@media only screen and (max-width: 600px) {
    #brand_img {
        margin-right: 0;
    }
    #brand_name {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .chip.result {
        width: 95%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
